<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    {{> navbar}}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="/admin/login" method="POST" class="form-horizontal" role="form">
                    <div class="form-group">
                        <legend>Form Login Admin</legend>
                    </div>
                    <div class="form-input">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control">
                    </div>
                    <br/>
                    <div class="form-input">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control">
                    </div>
                   <br/>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
